CLML Schemas/schema/schemaLegislationMetadata.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.legislation.gov.uk/namespaces/metadata" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.legislation.gov.uk/namespaces/metadata" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="schemaLegislationMetadata">

	<xsd:annotation>
		<xsd:appinfo xmlns:dcq="http://purl.org/dc/terms/" xmlns:dc="http://purl.org/dc/elements/1.1/">
			<dc:title>Legislation Specific Metadata Schema</dc:title>
			<dc:description>Describes legislation metadata</dc:description>
			<dc:identifier>schemaLegislationmetadata</dc:identifier>
			<dc:language>en</dc:language>
		</xsd:appinfo>
	</xsd:annotation>
	
	<xsd:import namespace="http://purl.org/dc/elements/1.1/" schemaLocation="../schemaModules/dc.xsd"/>
	<xsd:import namespace="http://purl.org/dc/terms/" schemaLocation="../schemaModules/dcterms.xsd"/>

	<xsd:element name="Metadata">
		<xsd:annotation>
			<xsd:documentation>Metadata section for document</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:choice minOccurs="0" maxOccurs="unbounded">
					<xsd:element ref="dc:title"/>
					<xsd:element ref="dc:creator"/>
					<xsd:element ref="dc:subject"/>
					<xsd:element ref="dc:description"/>
					<xsd:element ref="dc:publisher"/>
					<xsd:element ref="dc:contributor"/>
					<xsd:element ref="dc:date"/>
					<xsd:element ref="dc:type"/>
					<xsd:element ref="dc:format"/>
					<xsd:element ref="dc:identifier"/>
					<xsd:element ref="dc:source"/>
					<xsd:element ref="dc:language"/>
					<xsd:element ref="dc:relation"/>
					<xsd:element ref="dc:coverage"/>
					<xsd:element ref="dc:rights"/>
					<xsd:element ref="dc:modified"/>
				</xsd:choice>
				<xsd:group ref="TSOmetadata"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:group name="TSOmetadata">
		<xsd:annotation>
			<xsd:documentation>Legislation specific metadata</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element ref="PrimaryMetadata"/>
			<xsd:element ref="SecondaryMetadata"/>
		</xsd:choice>
	</xsd:group>
	
	<xsd:element name="PrimaryMetadata">
		<xsd:annotation>
			<xsd:documentation>Metadata for primary legislation</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="DocumentClassification"/>
				<xsd:element ref="Year"/>
				<xsd:element ref="Number"/>
				<xsd:element ref="AlternativeNumber" minOccurs="0"/>
				<xsd:element ref="EnactmentDate" minOccurs="0"/>
				<xsd:element ref="ComingIntoForce" minOccurs="0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="SecondaryMetadata">
		<xsd:annotation>
			<xsd:documentation>Metadata for secondary legislation</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="DocumentClassification"/>
				<xsd:element ref="Year"/>
				<xsd:element ref="Number"/>
				<xsd:element ref="AlternativeNumber" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="DepartmentCode" minOccurs="0"/>
				<xsd:element ref="Made" minOccurs="0"/>
				<xsd:element ref="Laid" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="ComingIntoForce" minOccurs="0"/>
				<xsd:choice>
					<xsd:element ref="Resolution" minOccurs="0"/>
					<xsd:element ref="RoyalPresence" minOccurs="0"/>
				</xsd:choice>
				<xsd:element ref="Correction" minOccurs="0"/>				
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="EnactmentDate">
		<xsd:annotation>
			<xsd:documentation>Date of enactment</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="Date" type="xsd:date" use="required"/>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="Made">
		<xsd:complexType>
			<xsd:attribute name="Date" type="xsd:date" use="required"/>
			<xsd:attribute name="Time" type="xsd:time"/>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="Laid">
		<xsd:complexType>
			<xsd:attribute name="Date" type="xsd:date" use="required"/>
			<xsd:attribute name="Time" type="xsd:time"/>
			<xsd:attribute name="Class" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="NorthernIrelandAssembly"/>
						<xsd:enumeration value="ScottishParliament"/>
						<xsd:enumeration value="UnitedKingdomParliament"/>
						<xsd:enumeration value="WelshAssembly"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="ComingIntoForce">
		<xsd:complexType>
			<xsd:sequence maxOccurs="unbounded">
				<xsd:element name="DateTime">
					<xsd:complexType>
						<xsd:attribute name="Date" type="xsd:date" use="required"/>
						<xsd:attribute name="Time" type="xsd:time"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="RoyalPresence">
		<xsd:complexType>
			<xsd:attribute name="Date" type="xsd:date" use="required"/>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="Resolution">
		<xsd:complexType>
			<xsd:attribute name="Date" type="xsd:date" use="required"/>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="DepartmentCode">
		<xsd:annotation>
			<xsd:documentation>Certains document types may have a department code where the document was originated from a Government department</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="Value" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="Year">
		<xsd:annotation>
			<xsd:documentation>The year as the legislation applies</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="Value" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="Number">
		<xsd:annotation>
			<xsd:documentation>The main number of the document</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="Value" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="AlternativeNumber">
		<xsd:annotation>
			<xsd:documentation>For certain legislation types subsidiary serial numbers apply. For early primary legislation regnal years are used to identify legislation</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="Category" type="xsd:string" use="required">
				<xsd:annotation>
					<xsd:documentation>The applicable values at present are C, L, S, NI, W and Cy or Regnal when it holds a regnal year</xsd:documentation>
				</xsd:annotation>
			</xsd:attribute>
			<xsd:attribute name="Value" type="xsd:string" use="required"/>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="DocumentClassification">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="DocumentCategory">
					<xsd:annotation>
						<xsd:documentation>Defines the category of the document. Currently the only possibilities are primary and secondary</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="Value" use="required">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:enumeration value="primary"/>
									<xsd:enumeration value="secondary"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
				<xsd:element ref="DocumentMainType"/>
				<xsd:element name="DocumentStatus">
					<xsd:annotation>
						<xsd:documentation>Defines the status (or stage) of the document</xsd:documentation>
						<xsd:documentation>For secondary legislation this will be draft or final</xsd:documentation>
						<xsd:documentation>For primary legislation this will be Bill or Act. Note Bills are not part of the scope at present</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="Value" use="required">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:enumeration value="draft"/>
									<xsd:enumeration value="final"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="DocumentMinorType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>Defines the subtype of the document. This currently only applies to secondary legislation</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:attribute name="Value" use="required">
							<xsd:simpleType>
								<xsd:restriction base="xsd:string">
									<xsd:enumeration value="order"/>
									<xsd:enumeration value="regulation"/>
									<xsd:enumeration value="rule"/>
									<xsd:enumeration value="scheme"/>
									<xsd:enumeration value="resolution"/>
									<xsd:enumeration value="unknown"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="DocumentMainType">
		<xsd:annotation>
			<xsd:documentation>Defines the type of the document. This covers all the possible varities of UK legislation</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:attribute name="Value" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="EnglandAct"/>
						<xsd:enumeration value="GreatBritainAct"/>
						<xsd:enumeration value="IrelandAct"/>
						<xsd:enumeration value="NorthernIrelandAct"/>
						<xsd:enumeration value="NorthernIrelandAssemblyMeasure"/>
						<xsd:enumeration value="NorthernIrelandParliamentAct"/>
						<xsd:enumeration value="NorthernIrelandOrderInCouncil"/>
						<xsd:enumeration value="NorthernIrelandStatutoryRule"/>
						<xsd:enumeration value="NorthernIrelandStatutoryRuleLocal"/>
						<xsd:enumeration value="ScottishAct"/>
						<xsd:enumeration value="ScottishStatutoryInstrument"/>
						<xsd:enumeration value="ScottishStatutoryInstrumentLocal"/>
						<xsd:enumeration value="UnitedKingdomChurchMeasure"/>
						<xsd:enumeration value="UnitedKingdomPrivateAct"/>
						<xsd:enumeration value="UnitedKingdomPublicGeneralAct"/>
						<xsd:enumeration value="UnitedKingdomLocalAct"/>
						<xsd:enumeration value="UnitedKingdomStatutoryInstrument"/>
						<xsd:enumeration value="UnitedKingdomStatutoryInstrumentLocal"/>
						<xsd:enumeration value="WelshAssemblyMeasure"/>
						<xsd:enumeration value="WelshStatutoryInstrument"/>
						<xsd:enumeration value="WelshStatutoryInstrumentLocal"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>	

	<xsd:element name="Correction">
		<xsd:annotation>
			<xsd:documentation>Certain items of legislation get corrected or are correcting. This information is used to connect the two items together</xsd:documentation>
			<xsd:documentation>It is also possible to correct a draft legislation item. In that case the identifier of the other document should be used</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="DocumentMainType"/>
				<xsd:choice>
					<xsd:sequence>
						<xsd:element ref="Year"/>
						<xsd:element ref="Number"/>
						<xsd:element ref="dc:identifier" minOccurs="0"/>
					</xsd:sequence>
					<xsd:element ref="dc:identifier"/>
				</xsd:choice>
			</xsd:sequence>
			<xsd:attribute name="Type" use="required">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="corrects"/>
						<xsd:enumeration value="correctedBy"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>			
		</xsd:complexType>
	</xsd:element>
		
</xsd:schema>
